body {
    background: rgb(224, 160, 240);
    text-align:center;
}
h1 {
    font-size: 35px;
}
#img_inicio {
    width: 80px;
    height: 200px;
}

p {
    font-size: 20px;
    text-align: justify;
}

.contatos {
    display:inline-block;
    background: white;
}

#titulo_contatos {
    text-align: center;
    font-size: 18px;
}
ul {
    margin-left: 10%;
    text-align: left;
}
