body {
    background: rgb(224, 160, 240);
    text-align:center;
}
h1 {
    font-size: 35px;
}
#img_inicio {
    width: 35%;
    height: 200px;
}

p {
    font-size: 20px;
    text-align: justify;
}

.contatos {
    background: white;
    margin-left: 60%;
    text-align: left;
}